box, .Home, .Home .h-head, .Home .h-body {
  display: block;
  float: left;
  position: relative;
  box-sizing: border-box; }

flex {
  display: flex;
  position: relative;
  box-sizing: border-box; }

coolbarNormal::-webkit-scrollbar {
  width: 10px;
  height: 5px; }

coolbarNormal:hover::-webkit-scrollbar {
  width: 10px;
  height: 5px; }

coolbarNormal::-webkit-scrollbar-thumb {
  background: #00000010;
  border-radius: 10px; }

coolbarNormal:hover::-webkit-scrollbar-thumb {
  background: #9c9c9c; }

orangeBG {
  background: linear-gradient(252.2deg, #FBCD15 -58.69%, #FEA435 108.45%), #C4C4C4; }

orangeShadow {
  box-shadow: 0px 16px 30px rgba(253, 178, 43, 0.62); }

orangeShadowHover {
  box-shadow: 2px 16px 35px rgba(253, 178, 43, 0.62); }

orangeShadowBig {
  box-shadow: 29px 42px 101px 1px rgba(226, 172, 31, 0.35); }

blueBG {
  background: linear-gradient(78.26deg, #5C89FA -2.27%, #6AC2FD 149.58%), #5C88FA; }

.Home {
  width: 100%; }
  .Home .h-head {
    width: 100%;
    height: 80px;
    margin-top: 50px; }
  .Home .h-body {
    width: 100%; }
